/* 欢迎使用guiPlan,以下代码均由guiPlan软件生成，如有疑问添加添加作者微信guiplan或加入学习交流qq群711964722  */
.main {
    margin: 0px;
    padding: 0px;
}

.indexhtmlcssStart {}

.uWLlQcN {
    background-image: url(images/img_bg_1.jpg);
}

.upqw9MK {
    background-image: url(images/img_bg_2.jpg);
}

.u54CqEw {
    background-image: url(images/img_bg_3.jpg);
}

.uPzAeNX {
    background-image: url(images/img_bg_4.jpg);
}

.indexhtmlcssEnd {}

.169_ft5_77_indexhtmlcssStart {}

.uWLlQcN {
    background-image: url(images/img_bg_1.jpg);
}

.upqw9MK {
    background-image: url(images/img_bg_2.jpg);
}

.u54CqEw {
    background-image: url(images/img_bg_3.jpg);
}

.uPzAeNX {
    background-image: url(images/img_bg_4.jpg);
}

.169_ft5_77_indexhtmlcssEnd {}